:focus {
    background-color: #93c4fd33;
    border: 1px solid #0369a1;
    outline-color: #0369a1;
    outline: none;
    outline-offset: 0;
    text-decoration: underline;
  }

:active {
    outline: none;
    outline-offset: 0;
}

body {
    font-family: system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
}

article {
    background-color: #171717;
    border-radius: 4px;
}

h2 {
    color: #e2e8f0;
    font-size: 2.4em;
    margin-top: 0.2em;
    margin-bottom: 0.6em;
}

ul {
    line-height: var(--line-height);
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    cursor: default;
    --spacing: 1rem;
    padding-right: 0;
    padding-left: var(--spacing);
    padding-inline-start: var(--spacing);
    padding-inline-end: 0;
    margin-top: 0;
}

ul li {
    list-style: disc;
    color: #1f2937;
}

li {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

li a {
    color: #0ea5e9;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
}

#shields {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#card {
    margin-left: auto;
    margin-right: auto;
    padding: 2em 3em;
    z-index: 2;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 400px) {
    #card {
        max-width: 250px;
    }
  }


@media (prefers-color-scheme: light){
    body {
        background-color: #f3f4f6;
    }

    h2 {
        color: #171717;
    }

    article {
        background-color: #ffffff;
    }

    #card {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    #canvas {
        opacity: 0.5;
    }
}
